body{
    margin:0;
    font-family:Arial;
    background:#f4f4f4;
}

header{
    background:black;
    color:white;
    text-align:center;
    padding:20px;
}

nav a{
    color:white;
    margin:10px;
    text-decoration:none;
}

.perfil {
    text-align: center;
    padding: 40px;
}

.perfil img{
    width:200px;
    height:220px;
}

footer{
    background:black;
    color:white;
    text-align:center;
    padding:15px;
}

.contenedor-integrantes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap; 
    margin-bottom: 40px; 
}

.integrante {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

@media(max-width:768px){

    .contenedor-productos{
        flex-direction:column;
        align-items:center;
    }

    .producto-card{
        width:85%;
    }

    .misionvision{
        flex-direction:column;
        align-items:center;
    }

}
